.slider {
     margin: 300px auto;
     width: 700px;
     overflow: hidden;
}
.slider ul {
     list-style: none;
     padding: 0;
     margin: 0;
     width: 700px;
     left: 0;
     position: relative;
}
.slider ul li {
     float: left;
}
img {
     border-radius: 5px;
     width: 700px;
     height: 400px;
     top: 0;
     left: 0;
}
.btn {
     width: 700px;
     position: absolute;
     margin: 180px auto;
}
.btn .next {
     border: 1px solid black;
     padding: 10px;
     float: right;
}
.btn .prev {
     border: 1px solid black;
     padding: 10px;
}